<div class="container">

  <div class="row m-3">
  
    <div class="col-md-3">
      <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
        <div class="card-header text-center">Total Cafe users</div>
        <div class="card-body">
          <h5 class="card-title text-center">{{ num_cafe_users }}</h5>
        </div>
      </div>
    </div>
  
    <div class="col-md-3">
      <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
        <div class="card-header text-center">Special Cafe users</div>
        <div class="card-body">
          <h5 class="card-title text-center">{{ num_special_users }}</h5>
        </div>
      </div>
    </div> 
  
    <div class="col-md-3">
      <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
        <div class="card-header text-center">Student didn't eat</div>
        <div class="card-body">
          <h5 class="card-title text-center">{{ num_students_did_not_eat }}</h5>
        </div>
      </div>
    </div>
  
    <div class="col-md-3">
      <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
        <div class="card-header text-center">Student did eat</div>
        <div class="card-body">
          <h5 class="card-title text-center">{{ num_students_did_eat }}</h5>
        </div>
      </div>
    </div>
  
  </div>

</div>  
